<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'payments/bulma/bulma.min.css' %}"/>

    <script src="https://js.tosspayments.com/v1"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'payments/bootstrap/dist/js/scripts.js' %}"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'payments/bootstrap/dist/css/styles.css' %}"/>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Tosspayments TAM</div>
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="/payments/">결제 (일반)</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/billing/">빌링</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/apis/">추가기능 API</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#test">무엇을 더 넣</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">결제 테스트 리스트</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="../">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://docs.tosspayments.com" target="_blank">공식 가이드</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">문의하기</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="mailto:support@tosspayments.com">기술지원 메일</a>
                                    <a class="dropdown-item" href="mailto:techsupport@tosspayments.com">TAM 메일</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://discord.gg/VdkfJnknD9">디스코드 문의</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                <section class="hero is-link">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                결제(일반) - 결제창
                            </h1>
            
                        </div>
                    </div>
                </section>
                <section class="section ">
                    <div class="container">
                        <button class="button is-link" onclick="pay('카드',jsons.card);">일반결제창</button>
                        <button class="button is-link" onclick="pay('가상계좌',jsons.vaccount);">가상계좌</button>
                        <button class="button is-link" onclick="pay('계좌이체',jsons.transfer);">계좌이체</button>
                        <button class="button is-link" onclick="pay('휴대폰',jsons.phone);">휴대폰</button>
                        <button class="button is-link" onclick="pay('문화상품권',jsons.certificate);">문화상품권</button>
                        <button class="button is-link" onclick="pay('도서문화상품권',jsons.bookcert);">도서문화상품권</button>
                        <button class="button is-link" onclick="pay('게임문화상품권',jsons.gamecert);">게임문화상품권</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script>
    let amount = 50000;

    let tossPayments = TossPayments("test_ck_YyZqmkKeP8g4bgQa1nk3bQRxB9lG");

    function pay(method, requestJson) {
        console.log(requestJson);
        tossPayments.requestPayment(method, requestJson)
            .catch(function (error) {

                if (error.code === "USER_CANCEL") {
                    alert('유저가 취소했습니다.');
                } else {
                    alert(error.message);
                }

            });
    }

    let path = "/";
    let successUrl = window.location.origin + path + "payments/success";
    let failUrl = window.location.origin + path + "payments/fail";
    let callbackUrl = window.location.origin + path + "payments/va_callback";
    let orderId = new Date().getTime();

    let jsons = {
        "card": {
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl,
            "cardCompany": null,
            "cardInstallmentPlan": null,
            "maxCardInstallmentPlan": null,
            "useCardPoint": false,
            "customerName": "박토스",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "useInternationalCardOnly": false,
            "flowMode": "DEFAULT",
            "discountCode": null,
            "appScheme": null,
        },
        "vaccount": { //가상계좌 결제창

            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl,
            "validHours": 72,
            "virtualAccountCallbackUrl": callbackUrl,
            "customerName": "박토스",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "cashReceipt": {
                "type": "소득공제"
            },
            "useEscrow": false

        },
        "transfer": { //계좌이체 결제창

            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl,
            "customerName": "박토스",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "cashReceipt": {
                "type": "소득공제"
            },
            "useEscrow": false

        },
        "phone": { // 휴대폰 결제창

            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl,
            "mobileCarrier": null

        },

        "certificate": { //상품권 결제창
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl
        },

        "bookcert": { //도서문화상품권 결제창
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl
        },
        "gamecert": { // 게임문화상품권 결제창
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": "토스 티셔츠 외 2건",
            "successUrl": successUrl,
            "failUrl": failUrl
        }


    }
</script>
</html>