<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/bulma/bulma.min.css' %}"/>

    <!-- 토스페이먼츠 스크립트-->
    <script src="https://js.tosspayments.com/v1"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'main_page/bootstrap/dist/js/scripts.js' %}"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/bootstrap/dist/css/styles.css' %}"/>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Tosspayments TAM</div>
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/payments/">결제 (일반)</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/billing/">빌링</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/apis/">추가기능 API</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#test">무엇을 더 넣어야 하나</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">결제 테스트 리스트</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="../index.html">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://docs.tosspayments.com" target="_blank">공식 가이드</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">문의하기</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="mailto:support@tosspayments.com">기술지원 메일</a>
                                    <a class="dropdown-item" href="mailto:techsupport@tosspayments.com">TAM 메일</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://discord.gg/VdkfJnknD9">디스코드 문의</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">환영 합니다.</h1>
                <p>토스페이먼츠 제품을 확인해 볼수 있어요</p>
                <p>의견은 언제든 환영 합니다</p>
                <p>
                    <code>#Python Django</code><br>
                    <code>#PHP</code><br>
                    <code>#Ruby on Rails</code><br>
                    <code>#Node.js</code><br>
                    AND MORE..
                </p>
            </div>
        </div>
    </div>
</body>

</html>